
/*template 

@media screen and (max-width: 699px) and (min-width: 520px) {
   
350-640
641-812
813-1024 
}
*/

@media screen and (max-width: 640px) and (min-width: 350px) {
    
}

@media screen and (max-width: 812px) and (min-width: 641px) {
    
}

@media screen and (max-width: 1024px) and (min-width: 813px) {
    
}



