#header.header-fixed {
  background: rgba(52, 59, 64, 0.9);
  padding: 20px 0;
  height: 72px;
  transition: all .2s;
}

#about {
  background: #fff;
  padding: 80px 0;
}

#about .about-container .title {
  color: #333;
  font-weight: 700;
  font-size: 32px;
}

p.description{
  color: #333;
}